<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../../static/css/sign_up.css">
</head>
<body>
    <div class="registration-form">
        <ul>
            <li>Адреса електроннох пошти</li>
            <li>Ім'я</li>
            <li>Прізвище</li>
            <li>Пароль</li>
            <li>Про себе</li>
        </ul>
    </div>
    <div class="green-right"></div>
</body>
</html>